.underlineButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.underlineButton {
  --primary-color: #ffffff;
  --hovered-color: #fff012;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.underlineButton p {
  margin: 0;
  position: relative;
}

.underlineButton::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -7px;
  /* background: var(--hovered-color); */
  height: 2px;
  transition: 0.3s ease-out;
}

.underlineButton:hover::after {
  width: 100%;
}

.underlineButton p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: 'Selengkapnya...';
  width: 0%;
  inset: 0;
  /* color: var(--hovered-color); */
  overflow: hidden;
  transition: 0.3s ease-out;
}


.underlineButton:hover p::before {
  width: 100%;
}

.underlineButton svg {
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* ============================= */

.underlineButtonn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.underlineButtonn {
  --primary-color: #ffffff;
  --hovered-color: #fff012;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.underlineButtonn p {
  margin: 0;
  position: relative;
}

.underlineButtonn::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -7px;
  /* background: var(--hovered-color); */
  height: 2px;
  transition: 0.3s ease-out;
}

.underlineButtonn p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: 'Selengkapnya...';
  width: 0%;
  inset: 0;
  /* color: var(--hovered-color); */
  overflow: hidden;
  transition: 0.3s ease-out;
}

.underlineButtonn:hover::after {
  width: 100%;
}

.underlineButtonn:hover p::before {
  width: 100%;
}

.underlineButtonn svg {
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* ================================ */

.animatedButton {
  display: inline-block;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  font-weight: 500;
}

.animatedButton:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.animatedButton:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.animatedButton:hover:before {
  top: -30px;
  left: -30px;
}

/* .animatedButton:active:before {
 background: #3a0ca3;
 transition: background 0s;
} */


/* =========================== */

.animatedButton2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
 }
 
 .animatedButton2:after {
  content: " ";
  width: 0%;
  height: 100%;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .animatedButton2:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .animatedButton2 span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }
 
 .animatedButton2:hover span {
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
 
 /* ==================================== */

 .cta {
  border: none;
  background: none;
}
.underline3:hover {
 @apply text-hijauPrimary;
}

/* .cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
} */

.cta .svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover .svg {
  transform: translateX(0);
}

.cta:active .svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  /* padding-bottom: 20px; */
}

.hover-underline-animation:after {
  @apply bg-hijauPrimary;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  /* background-color: #000000; */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}